### folders
node_modules
test
.idea

### files
yarn.lock
suman.conf.js
.npmignore
.gitignore
.editorconfig
package-lock.json

### matching files
*.sh
*.ts
*.json
*.txt
*.log
*.md
*.yml
*.DS_Store

### negation
!*.d.ts
